<div class="container bg-light p-5 mt-5 rounded-3 shadow">
  <h1 class="h3 mb-3 fw-normal text-center"><%= t('reset_password_page.title') %></h1>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com", id: "floatingInput", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      <%= f.label :email, for: "floatingInput" %><br />
    </div>

    <%= f.submit t('confirm_page.confirm_button'), class: "btn btn-primary w-100 py-2" %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
