<div class="container mt-2">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1"><%= @product.name %></h2>
      <p class="lead"><%= I18n.t('product_page.description') %> <%= @product.description %>.</p>
      <p class="lead"><%= I18n.t('product_page.price') %> <%= @product.price %> <%= I18n.t('main_page.currency') %></p>
      <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-cart"></i></button>
      <%= link_to I18n.t('product_page.button_back'), catalog_path, class: "btn btn-secondary btn-sm" %>
    </div>
    <div class="col-md-5 order-md-1 border border-2">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @product.images.each do |image| %> 
            <div class="carousel-item <%= 'active' if image == @product.images.first %>">
              <%= image_tag image, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
