<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <svg class="h-8" width="10" height="32"><%= image_tag 'logo.png', width: 110 %></svg>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="btn btn-primary">
          <%= link_to t('header.tabs.catalog'), catalog_path, class: 'nav-link text-light' %>
        </li>
        <li class="btn btn-primary">
          <%= link_to t('header.tabs.contacts'), contact_path, class: 'nav-link text-light' %>
        </li>
        <li class="btn btn-primary">
          <%= link_to t('header.tabs.my_orders'), main_orders_path, class: 'nav-link text-light' %>
        </li>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= link_to cart_path, class: "btn btn-primary", id: "cart-link" do %>
            <i class="bi bi-cart text-light"></i>
            <span id="cart-count" class="ms-1 text-light">0</span>
          <% end %>

          <%= link_to I18n.t('header.tabs.log_out'), destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-primary text-light me-2' %>
        <% else %>
          <%= link_to I18n.t('header.tabs.log_in'), new_user_session_path, class: 'btn btn-primary text-light me-2' %>
          <%= link_to I18n.t('header.tabs.sign_up'), new_user_registration_path, class: 'btn btn-primary text-light' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>