<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <svg class="h-8" width="10" height="32"><%= image_tag 'logo.png', width: 110 %></svg>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="btn btn-primary">
          <%= link_to t('header.tabs.catalog'), catalog_path, class: 'nav-link text-light' %>
        </li>
        <li class="btn btn-primary">
          <%= link_to t('header.tabs.contacts'), contact_path, class: 'nav-link text-light' %>
        </li>
      </ul>
      <div class="d-flex">
        <% if user_signed_in? %>
          <%= link_to I18n.t('header.tabs.log_out'), destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" }, class: 'btn btn-outline-success' %>
          <% if current_user.confirmed? %>
            <%= link_to contact_path, class: "nav-item", id: "cart-link" do %>
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
              </svg>
              <span id="cart-count" class="ml-1">0</span>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to I18n.t('header.tabs.log_in'), new_user_session_path, class: 'btn btn-primary text-light me-2' %>
          <%= link_to I18n.t('header.tabs.sign_up'), new_user_registration_path, class: 'btn btn-primary text-light' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>