<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nikson Fishing Shop" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="d-flex flex-column min-vh-100" style="background-image: url('<%= asset_path('background-body.jpg') %>')">
    <main class="flex-grow-1">
      <div>
        <%= render 'layouts/application/header' %>
        <div>
          <div data-controller="flash-messages" data-flash="<%= JSON.dump(flash.to_a) %>"></div>
          <%= yield %>
        </div>
      </div>
    </main>
    <footer class="py-3 mt-auto bg-light border-top">
      <p class="text-center text-body-secondary">© <%= Time.current.year %> Nikson Fishing Shop</p>
    </footer>
  </body>
</html>
